button {
  padding: 0.5rem;
  background: none;
  font-size: 18px;
  border: 1px solid black;
  margin: auto;
  width: 120px;
  cursor: pointer;
  border-radius: 4px;
}
mat-form-field {
  width: 100%;
}
#disabeled {
  padding: 0.5rem;
  background: none;
  font-size: 18px;
  border: 1px solid black;
  margin: auto;
  width: 120px;
  cursor: pointer;
  border-radius: 4px;
}
